
html {
    font-size: 140%;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #1c1c1e;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
  }
  
  a {
    color: #007aff;
    text-decoration: none;
  }
  

  header {
    background-color: #1c1c1e;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  nav li {
    margin-right: 1rem;
    text-align: center;
  }
  
  nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  

  main {
    padding: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: #fff;
  }
  
  p {
    margin: 0 0 1rem;
  }
  

  footer {
    background-color: #2c2c2e;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  #navbar {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  /* dark mode styles */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }
  
    header {
      background-color: #2c2c2e;
    }
  
    nav a {
      color: #fff;
    }
  

  }
  
 

#youtubeLink {
  color: red
}


#linkedinLink {
  color: #0077b5;
}

/* Style the Twitter links */
#twitterLink {
  color: #1da1f2;
}

.social-media-links {
  
  margin-top: 20px;
}

.social-media-links a {
  font-size: 1.5rem;
  margin-right: 10px;
}

.social-media-links a {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin-right: 1rem;
  opacity: 0.33;
  transition: opacity 0.5s ease-in-out;
}

.social-media-links a:hover {
  opacity: 1;
}


.card {
  background-color: #2c2c2e;
  max-width: 800px;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 3%;
}

